/* ======COMMON STYLE====== */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media (min-resolution: 192dpi){
    .hero{
        background-image: url(../images/hero-image@2x.jpg);
    }
}
@media screen and (max-width:767px) {
    .container {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
                }
/* ====== HEADER MOBILE STYLES ===== */
.menu {
    display: none;
}
.contacts {
    display: none;
}
.logotype {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.logotype-word {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-btn {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: transform 250ms linear;
}
.mobile-menu.is-open {
    transform: translateX(0%);
}
.mobile-container {
    position: relative;
}
.mobile-close-btn {
    display: block;
    padding: 0;
    line-height: 0;
    border: 0;
    border-radius: 50%;
    color: #2E2F42;
    background-color: transparent;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
    border: 1px solid #E7E9FC;
}
.mobile-menu-list {
    margin-top: 72px;
}
.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    display: block;
    margin-bottom: 40px;
}
.mobile-meni-link-contact {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    display: block;
    margin-bottom: 0px;
}
.mobile-menu-nav {
    display: flex;
}
.mobile-contacts {
    font-style: normal;
    margin-top: 168px;
}
.mobile-contact-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    margin-bottom: 24px;
}
.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
    margin-bottom: 40px;
}
.mobile-menu-social-item {
    width: 40px;
    height: 40px;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404bbf;
}
.mobile-meni-link-contact:hover,
.mobile-meni-link-contact:focus {
    color: #404bbf;
}
.mobile-contact-link:hover,
.mobile-contact-link:focus {
    color: #404bbf;
}
.mobile-menu-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: #f4f4fd;
}
/* ====== HEADER MOBILE STYLES ===== /*/

/* ====== HERO MOBILE ===== */
.hero {
    padding-top: 72px;
    padding-bottom: 200px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0 auto;
}
.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
}
.title-for{
    text-transform:capitalize;
}
.order-service-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/* ====== HERO MOBILE===== /*/

/* ====== FEATURES STYLES ===== */
.features-icon{
    display: none;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.features-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}
.features-list-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 288px;
}
/* ====== FEATURES MOBILE STYLES ===== /*/

 /*====== TEAM MOBILE STYLES====== */
.team {
    background-color: #F4F4FD;
}
.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team-list {
display: flex;
flex-direction: column;
gap: 72px;
flex-wrap: nowrap;
}
.team-link {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
.team-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.container-team {
    padding-top: 32px;
    padding-bottom: 32px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
.social-icon {
    fill: #f4f4fd;
}
.team-list-img{
    width: 100%;
}
 /*====== TEAM MOBILE STYLES====== /*/

 /*====== PORTFOLIO MOBILE STYLES====== */
.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02px;
    text-transform: capitalize;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   gap: 48px 16px;
}
.portfolio-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.portfolio-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-container {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    overflow: auto;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
    transform: translateY(0%);
}
.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
 /*====== PORTFOLIO MOBILE STYLES====== /*/
 /*====== FOOTER MOBILE STYLES====== */
.page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logotype-word-footer {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    text-align: left;
}

.link-footer {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 16px;
    margin-right: 0;
}

.footer-social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content:center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}
.page-footer-container{
    text-align: center;
}
.footer-social-container {
margin-top: 72px ;
margin-bottom: 72px;
}
.subcribe-form{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.title-sub{
    text-align: center;
}
.icon-btn-sub {
    fill: #FFFFFF;
}

.sub-btn {
    display: inline-flex;
    justify-content: center;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.sub-btn:hover,
.sub-btn:focus {
    background-color: #404BBF;
}
.label-sub {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.text-sub {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #FFFFFF;
}
.text-sub::placeholder {
    color: #FFFFFF;
}
.subcribe-form {
    display: flex;
    gap: 24px;
}
.title-sub {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.icon-btn-sub {
    margin-left: 16px;
}
 /*====== FOOTER MOBILE STYLES====== /*/
 /* ====== MODAL MOBILE STYLES ===== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #ffffff;
    border: none;
    background-color: #404BBF;
}
.title-modal-form {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
    }
    .modal-close-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
 .modal-close-btn:hover,
 .modal-close-btn:focus {
 fill: #ffffff;
 border: none;
 background-color: #404BBF;
        }
.modal-form-container {
  margin-bottom: 8px;}
        
     .text-form {
 width: 100%;
 height: 40px;
 border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
 background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
.text-form:focus {
 border-color: #4D5AE5;
        }
.label-form {
   display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
        }
.container-icon {
   position: relative;
   width: 100%;
   height: 40px
   }
        
 .modal-form-icons {
    position: absolute;
    left: 16px;
     top: 50%;
    transform: translateY(-50%);
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    .text-form:focus+.modal-form-icons {
fill: #4D5AE5;
    }
    
 .container-comment {
 margin-bottom: 16px;
                }
.text-commment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-commment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}
.text-commment:focus {
    border-color: #4D5AE5;
}
.container-check {
    margin-bottom: 24px;
}
.text-checkbox {
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.link-checkbox {
    color: #4D5AE5;
}
.submit-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:focus,
.submit-btn:hover {
    background-color: #404BBF;
}
.checkmark-decoration {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}
.checkbox:checked+.text-checkbox .checkmark-decoration {
    fill: #F4F4FD;
    background-color: #404bbf;
    border: none;
}
 /* ====== MODAL MOBILE STYLES ===== */

@media screen and (min-width: 768px) {
    .container {
        width: 766px;
    }
 /* ====== HEADER TABLET STYLES ===== */
    .mobile-menu {
            display: none;
        }
    .mobile-btn {
            display: none;
        }
    .menu {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    .contacts{
     display: flex;
    }
        .page-header {
        padding: 0;
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),0px 1px 1px 0px rgba(46, 47, 66, 0.16),0px 2px 1px 0px rgba(46, 47, 66, 0.08);
        }
        .container-header {
            display: flex;
            justify-content: space-between;
        }
        .page-nav {
            display: flex;
            align-items: center;
        }   
        .logotype {
            font-family: Raleway, sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
            margin-right: 76px;
        }
        .logotype-word {
            font-family: Raleway, sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #2e2f42;
        }
        .menu-link {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        }
    
        .menu-list-item {
        position: relative;
        color: #404bbf;
        }
        .menu-list-item::after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
        .menu-link:hover,
        .menu-link:focus {
            color: #404bbf;
        }
        .contact-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 12px;
            }
        .contact-link {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.16;
            letter-spacing: 0.04em;
            color: #434455;
        }
    
        .contact-link:hover,
        .contact-link:focus {
            color: #404BBF;
        }
        .contacts {
            font-style: normal;
        }
        .menu-link-item {
            position: relative;
            color: #404bbf;
        }
        .menu-link-item::after {
            position: absolute;
            content: "";
            background-color: #404BBF;
            display: block;
            height: 4px;
            width: 48px;
            border-radius: 2px;
            bottom: -1px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .menu-link,
        .contact-link {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
        /* ====== HEADER TABLET STYLES ===== /*/

        /*====== HERO TABLET STYLES ======*/
        .main-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        width: 736px;
        }
        .title-for {
         text-transform:none;
                }
        
        /*====== HERO TABLET STYLES====== /*/

        /*====== FEATURES TABLET STYLES ======*/
        .features-title {
        text-align: start;
        }
       .features-list{
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
       }
       .features-link{
        width: calc((100% - 24px) / 2);
       }
        /*====== FEATURES TABLET STYLES====== /*/

        /*====== TEAM TABLET STYLES====== */
.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px 24px;
    flex-wrap: wrap;
}
 /*====== TEAM TABLET STYLES====== /*/
/*====== PORTFOLIO TABLET STYLES====== */
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
}
 /*====== FOOTER TABLET STYLES====== /*/
.page-footer-container{
    text-align: left;
}
.footer-container{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: inherit;
        gap: 24px;
        padding: 0 108px;
    }
.footer-social-text{
    text-align: left;
}
.title-sub{
    text-align: start;
}
.text-sub{
    width: 264px;
}
.subcribe-form{
    flex-direction: row;
    row-gap:48px ;
}
 
/* ======FOOTER TABLET STYLES====== */
/* ====== MODAL TABLET STYLES ===== */
.modal {
width: 408px;
min-height: 584px;
}
 /* ====== MODAL TABLET STYLES ===== /*/
}

/* ====== HEADER DESKTOP STYLES ===== */
@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    }
    .page-header {
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

     .contact-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap:40px;
        }
    .contact-link {
        display: block;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
    }
     /* ====== HEADER DESKTOP STYLES ===== /*/

    /* ====== HERO DESKTOP STYLES ===== */
        .main-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
}
/* ====== HERO DESKTOP STYLES ===== /*/

/* ====== FEATURES DESKTOP STYLES ===== */
.features-icon{
    display: flex;
}
.features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 24px;
}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-list-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}
/* ====== FEATURES DESKTOP STYLES ===== /*/
/* FOOTER DESKTOP STYLES */

.footer-container {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
   }

.page-footer-container {
    margin-right: 120px;
}
.footer-social-container {
    margin-right: 80px;
}
.footer-social-list {
    justify-content: center;
}
.subcribe-form {
    display: flex;
    gap: 24px;
}
}
